body {
  background-color: #333;
}

#root {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  padding-top: 3em;
}
.status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.board-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.square {
  width: 150px;
  height: 150px;
  border: solid 2px rgba(255, 255, 255, 0.75);
}
